<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      th:replace="~{layout/layout::main(
        ~{::title},                 <!--/* title */-->
        <!--/*--------------------------*/-->
        <!--/*외부파일로 정의시 ex) link css */-->
        ~{},                        <!--/* styles */-->
        ~{},                        <!--/* scripts */-->
        <!--/*내부태그로 정의시*/-->
        ~{::style},                        <!--/* style */-->
        ~{::script},                        <!--/* script */-->
        <!--/*--------------------------*/-->
        ~{::.upperHeader},          <!--/* upperHeader */-->
        ~{::.lowerHeader},          <!--/* lowerHeader */-->
        ~{::main},                  <!--/* main */-->
        _                          <!--/* footer default*/-->
      )}">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="울산 문화 정보 사이트 메인 화면 기본 문서">
  <meta name="keywords" content="울산,ulsan,information,홍보,advertisement,이벤트,event">
  <meta name="author" content="KH java 할수있조">
  <title>울산한마당 | 회원가입화면</title>

  <style>

        /* 회원가입 입력 종류 (아이디,이름...)*/
        .join--table th {
            text-align: right;
            padding-right: 20px;
        }

        /* 회원가입 입력 내용 */
        .join--table td {
            padding-top: 5px;
            padding-bottom: 15px;
        }

        /* 입력 알림 (중복된아이디, 비밀번호 불일치...) */
        .join--table .notice {
            font-size: 0.7em;
            color: red;
            font-style: italic;
            font-weight: bold;
        }


        .box {
            margin: 20px 0 20px 0;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }

        /* 회원가입 버튼 */
        .box .joinBtn {
            height: 50px;
            width: 180px;
            color: whitesmoke;
            font-size: 1.2em;
            font-weight: bold;
            background-color: gray;
            border-radius: 5px;
            border-style: none;

        }


    </style>

</head>
<body>

<div id="wrapper">
  <div class="upperHeader">
    <th:block th:replace="~{layout/upperHeader::beforeUpperHeader}"></th:block>
  </div>
  <div class="lowerHeader">
    <th:block th:replace="~{layout/nav::lowerHeader}"></th:block>
  </div>
  <!-- =========================================================================================== -->

  <main id="signInMain">

    <div class="container">
      <div class="info__title">
        <h2 id="title">회원 가입</h2>
      </div>

      <div class="info__state">
        <h3 id="state">회원 가입</h3>
      </div>

      <div class="center__container">
        <div class="container__div">
          <span class="common signin__title"> 정보 입력</span>
          <div class="signin__box">
            <form action="/members/sign_in" class="box" method="post" th:object="${addForm}">
              <fieldset class="box">
                <table class="join--table">
                  <tr>
                    <th rowspan="2"><label for="email">아이디</label></th>
                    <td>
                      <input type="text" id="email" class="one--block" placeholder="example@google.com"
                             th:field="*{email}" th:class="${#fields.hasErrors('email')} ? fieldError">
                      <!--<button type="button" id="emailDupChk">중복확인</button>-->
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <ul th:if="${#fields.hasErrors('email')}" th:class="errmsg">
                        <li th:each="err : ${#fields.errors('email')}" th:text="|${errStat.count}.${err}|" />
                      </ul>
                    </td>
                  </tr>
                  <tr>
                    <th rowspan="2"><label for="password">비밀번호</label></th>
                    <td><input type="text" id="password" class="one--block"
                               th:field="*{password}" th:class="${#fields.hasErrors('password')} ? fieldError"></td>
                  </tr>
                  <tr>
                    <td>
                      <ul th:if="${#fields.hasErrors('password')}" th:class="errmsg">
                        <li th:each="err : ${#fields.errors('password')}" th:text="|${errStat.count}.${err}|" />
                      </ul>
                    </td>
                  </tr>
<!--                  <tr>-->
<!--                    <th rowspan="2"><label for="password_chk"></label>비밀번호 재확인</th>-->
<!--                    <td><input type="text" id="password_chk" class="one&#45;&#45;block"></td>-->
<!--                  </tr>-->
<!--                  <tr>-->
<!--                    <td class="notice notice&#45;&#45;password__check"></td>-->
<!--                  </tr>-->

                  <tr>
                    <th rowspan="2"><label for="name">이름</label></th>
                    <td><input type="text" id="name" class="one--block" placeholder="홍길동"
                               th:field="*{name}"></td>
                  </tr>
                  <tr>
                    <td>
                      <ul th:if="${#fields.hasErrors('name')}" th:class="errmsg">
                        <li th:each="err : ${#fields.errors('name')}" th:text="|${errStat.count}.${err}|" />
                      </ul>
                    </td>
                  </tr>
                  <tr>
                    <th rowspan="2"><label for="nickname">닉네임</label></th>
                    <td><input type="text" id="nickname" class="one--block"
                               th:field="*{nickname}" th:class="${#fields.hasErrors('nickname')} ? fieldError">
                      <!--                      <input type="button" value="중복확인" class="btn nickDupChk">-->
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <ul th:if="${#fields.hasErrors('nickname')}" th:class="errmsg">
                        <li th:each="err : ${#fields.errors('nickname')}" th:text="|${errStat.count}.${err}|" />
                      </ul>
                    </td>
                  </tr>
                  <tr>
                    <th rowspan="2"><label for="phone">휴대전화</label></th>
                    <td>
                      <input type="tel" name="phone--first" class="one--block" id="phone" placeholder="01012345678"
                             th:field="*{phone}" th:class="${#fields.hasErrors('phone')} ? fieldError">
                    </td>
                  </tr>
                  <tr>
                    <th></th>
                    <td></td>
                  </tr>

                  <tr>
                    <th rowspan="4"><label for="birthday">생년월일</label></th>
                    <td><input type="date" min="1960-01-01" id="birthday"
                               th:field="*{birthday}" th:class="${#fields.hasErrors('birthday')} ? fieldError"></td>
                  </tr>

                  <tr>
                    <td>
                      <input type="radio" name="gubun" id="M0101" value="M0101" checked="checked">
                      <label for="M0101">일반회원</label>
                      <input type="radio" name="gubun" id="M0102" value="M0102">
                      <label for="M0102">홍보회원</label>
                    </td>
                  </tr>

                  <tr>
                    <td>
                      <input type="checkbox" id="sms_service" class=""
                             th:field="*{sms_service}" th:class="${#fields.hasErrors('sms_service')} ? fieldError">
                      <label for="">SMS서비스</label>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <input type="checkbox" id="email_service" class=""
                             th:field="*{email_service}" th:class="${#fields.hasErrors('email_service')} ? fieldError">
                      <label for="">이메일서비스</label>
                    </td>
                  </tr>

                </table>
                <div>
                  <button type="submit" id="join--member" class="joinBtn">회원가입하기</button>
                </div>
              </fieldset>
            </form>
          </div>
        </div>
      </div>
    </div>
  </main>
</div>

  <script th:inline="javascript">


/*
    let pw = document.getElementById('password').value;
    let pw_chk = document.getElementById('password_chk').value;

    let dupChk = document.getElementById('email_dupChk');

    dupChk.addEventListener('click',e=>{
      console.log([[${password}]]);
      console.log(password);
      // console.log(`click ${pw}, ${pw_chk}..`);
      console.log('click '+pw+', '+pw_chk);
    });
*/

  </script>
</body>



</html>