@charset "utf-8";
@font-face {
    font-family: 'ulsanjunggu';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2206-02@1.0/ulsanjunggu.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);


* {
    /*outline: 1px solid blue;*/
    font-family: 'NotoSansKR', sans-serif;
}

body, 
ul, 
li , 
fieldset, 
legend, 
h2, 
p { 
    margin: 0; padding: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

ul, 
li {
    list-style: none;
}

address {
    font-style: normal;
}

/*공통*/
.content { 
    width: 80%; 
    margin: 0 auto;
}

/*로그인 전*/
#colorbox {
    height: 0.5rem;
    background-color: var(--color-sub);
}

/*로그인 후*/
#colorbox2 {
    height: 0.5rem;
    background-color: var(--color-sub);
}

/*uppermost*/

/*로그인 전*/
#uppermost .content {
    display: flex;
    font-size: 14px;
    font-weight: bold;
    height: 100%;
}


#uppermost > .content .logo {
    font-size: 30px;
    display: flex;
    align-items: center;
}

#uppermost .content .login {
    padding-top: 15px;
    padding-right: 10px;
    margin-left: auto;
}

#uppermost .content .header_info_logout {
    padding-top: 15px;
    padding-right: 10px;
    margin-left: auto;
}

#uppermost .content .login a {
    font-size: 14px;
}

#uppermost .content .interval {
    padding: 0 5px;
}

/*로그인 후*/
#uppermost2 {
    flex-wrap: nowrap;
    display: flex;
    align-items: center;
    height: 100px;
    width: 100%;
}

#uppermost2 .content {
    display: flex;
    font-size: 14px;
    font-weight: bold;
    height: 100%;
}


#uppermost2 > .content .logo {
    font-size: 30px;
    display: flex;
    align-items: center;
}

#uppermost2 .content .login {
    padding-top: 15px;
    padding-right: 10px;
    margin-left: auto;
}

#uppermost2 .content .header_info_logout {
    padding-top: 15px;
    padding-right: 10px;
    margin-left: auto;
}

#uppermost2 .content .login a {
    font-size: 14px;
}

#uppermost2 .content .interval {
    padding: 0 5px;
}



/*gnb*/

#gnb {
    height: 60px;
    margin: 0 auto;
    width: 100%;
}

.content-g{
    display: flex;
    height: 100%;
    border-top: 1px solid rgba(187, 187, 187, 0.521);
}

#gnb .gnb-menu{
    display: flex;
    flex: 8;
    font-weight: bold;
    height: 100%;
    align-items: center;
    cursor: pointer;
}

#gnb .gnb-menu .gnb-menu__item {
    padding : 10px;
    flex: 1;   /* flex-grow:1; flex-shrink:1, flex-basis:0; */
    position: relative;
    cursor: pointer;
    display: inline-block;
    position: relative;
    text-align: center;
}

#gnb .gnb-menu .gnb-menu__item a {
    display: block;
    font-size: 20px;
    font-weight: bold;
}

#gnb .gnb-menu .gnb-menu__item a:hover {
    color: #ff6d00;
    font-weight: bold;
    transition: all 0.3s ;
}

#gnb .gnb-menu .gnb-menu__item ul {
    display: none;
    background-color: white;
    position: absolute;
}

#gnb .gnb-menu .gnb-menu__item:hover ul{
    display: block;
    position: absolute;
    line-height: 30px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.192);
    font-size: 16px;
    top:40px;
    width: 110px;
    z-index: 4;
}

#gnb .gnb-menu .gnb-menu__item:hover ul li{
    /* padding: 5px;
    width: 100px; */
    display: block;
}

#gnb .gnb-menu .gnb-menu__item ul li a{
    font-size: 16px;
    font-weight: normal;
    text-align: center;
}

#gnb .gnb-menu .gnb-menu__item ul li a:hover{
    background-color: #fabf92;
}


/*검색창*/
#gnb .gnb-search{
    flex: 2;
    align-items: center;
    display: flex;
    justify-content: end;
    position: relative;
}

#gnb .gnb-search .search__input{
    width: 80%;
    height: 10px;
    border: 1px solid #bbb;
    border-radius: 8px;
    padding: 10px 12px;
    font-size: 14px;
}

#gnb .gnb-search i{
    position: absolute;
    width: 20px;
    top: 22px;
    right: 10px;
    margin: 0;
    color: #bbb;
}

/*header 슬라이드 이미지*/
#header {
    width: 100%;
    padding: 10px 10px 10px 10px;
    display: flex;
}
#header > .content {
    height: auto;
    width: 1180px;
    margin: 0px auto;
    flex-basis: content;

}

/*메인*/
section{
	display: flex;
	justify-content: center;
    padding: 0;
    margin: 0;
}

.main_container{
	width: 80%;
    display: block;
    justify-content: center;
	
}

.main_container a{
    font-weight: bold;
    padding: 5px;
}

.sub_title_per,
.sub_title_exh{
    padding-top: 10px;
    /* outline: 1px solid red; */
    display: flex;
    padding-left: 20px;
}

.main_container .sub_title_per a:nth-child(1),
.main_container .sub_title_exh a:nth-child(1){
    font-size: 20px;
}

.main_container .sub_title_per a:nth-child(2),
.main_container .sub_title_exh a:nth-child(2){
    font-size: 15px;
    color: rgb(129, 129, 129);
    /* outline: 1px solid red; */
}

.main_slide{
	width: 100%;
	height: 300px;
	overflow: hidden;
	display: flex;
	padding: 20px 0;
	justify-content: center;
}

.main_slide img{
	max-width: 100%;
	height: auto;
	padding: 10px;
}

.main_item{
	width: 100%;
	height: 300px;
	overflow: hidden;
	display: flex;
	padding: 20px 0;
    /* padding: 0 0 65px 0; */
	justify-content: center;
}


.main_item img{
	max-width: 100%;
	height: auto;
	padding: 10px;

}

.main_wrap{
	width: 100%;
	height: 500px;
	display: flex;
    margin-bottom: 65px;
    flex-wrap: wrap;
}


/*메인 화면 미니 게시판*/

.main_b{
	flex: 4;
    padding: 10px 20px;
    white-space: nowrap;
}


/* .content_list{ 
    display: flex;
    justify-content: center;
} */

.ad_board_tit{
    display: flex;
    padding: 0 ;

}
.ad_board_tit >div:nth-child(1){
    font-size: 20px;
    font-weight: bold;
    flex: 1;
}

.ad_board_tit >div:nth-child(2){
    font-size: 15px;
    font-weight: bold;
    color: rgb(129, 129, 129);
    padding: 5px 0 0 5px ;
    flex: 1;
}

.ad_board_tit >a{
    font-size: 13px;
    /* padding-left: 50px; */
    flex: 8;
    padding: 7px 0 0 0 ;
}


.review_board_tit{
    display: flex;

    margin-top: 50px;
}
.review_board_tit >div:nth-child(1){
    font-size: 20px;
    font-weight: bold;

    flex: 1;
}

.review_board_tit >div:nth-child(2){
    font-size: 15px;
    font-weight: bold;
    color: rgb(129, 129, 129);
    padding: 5px 0 0 5px ;
    flex: 1;
}

.review_board_tit >a{
    font-size: 14px;
    /* padding-left: 50px; */
    flex: 8;
    padding: 7px 0 0 0 ;
}


.main_b_top{
    display: flex;
    /* justify-content:space-between; */
}


.main_b_top .top_ad{
    background-color: #9e9e9e;
    padding: 10px 5px;
    border-radius: 10px;
    color: aliceblue;
}
.main_b_top .top_review{
    background-color: #ff6d00;
    padding: 10px 5px;
    border-radius: 10px;
    color: aliceblue;
    margin-left: 10px;

}

.main_b_top .more_b{

    padding: 10px 5px;
    margin-left: auto;
}


/* .main_b .main_b_top .top_ad,
.main_b .main_b_top .top_review{
    background-color: #ff6d00;
    padding: 0 10px;
}  */


.main_b .main_b_top a{
    
} 


.main_b >div {

    text-align: end;
    padding:  10px;
}


.board_list{
    border-collapse: collapse;

}

.board_list {
    width: 100%;
}


/* .content_list .board_list .list_top tr{
    padding-bottom: 1px solid black;

} */

.board_list .list_body  tr {

    border-bottom: 1px solid #ccc;

   font-size: 16px;
   /* border: 10px; */
}

 
.board_list td {

}

.board_list  .title {
    padding: 10px;
    text-align: left;
}


.board_list  .title a{

    font-size: 15px;
    font-weight: inherit;
}



/*메인 지도*/
.main_m{
	flex: 6;
	padding: 10px 20px;

}

.map_tit{
    display: flex;

    padding: 10px 0 20px 0;
}
.map_tit >div:nth-child(1){
    font-size: 20px;
    font-weight: bold;

}

.map_tit >div:nth-child(2){
    font-size: 15px;
    font-weight: bold;
    color: rgb(129, 129, 129);
    padding: 5px 0 0 5px ;
}



.main_m img{
    width: 100%;
    height: 380px;
}




/* 목록내부 */
.image_banner {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 10px;
}

/*그라데이션 배너*/
.image_banner_in_box {
    width: 2000px;
    background: rgb(34,193,195);
    background: linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(253,120,45,1) 100%);
    text-align: center;
    color: white;
    padding: 50px 0;
}
  
  .gallery {
    display: flex;
    padding: 2rem 2rem 2rem 2rem;
  }
  
  .gallery_container {
    max-width: 1030px;
    margin: 0 auto;
  }
  
.contents_count_in_box {
    padding: 10px;
}

  .image-list{
    margin-bottom: 3rem;
  }
  
  .image-list li{
    padding: 10px;
    text-align: center;
  }
  
  .image-list li p:first-child{
    font-weight: bold;
    font-size: 1rem;
  }
  
  .image-list li p:last-child{
    margin-top: 0.5rem;
  }
  
  #contents__toolbar .toolbar-menu {
    display: flex;
    align-items: center;
    height: inherit;
    padding-bottom: 10px;
  }

  #contents__toolbar .toolbar-menu input {
    display: none;
  }
  
  .toolbar-menu__contents {
    display: flex;
    flex: 1;
    padding-bottom: 5px;
  } 

  #contents__toolbar .toolbar-menu section {
    display: none;
    padding: 20px 0 0;
    border-top: 1px solid rgb(141, 141, 141);}


    #contents__toolbar .toolbar-menu label {
    display: inline-block;
    margin: 0 0 -1px;
    padding: 15px 150px;
    font-weight: 600;
    text-align: center;
    border: 1px solid rgba(187, 187, 187, 0.521);
    border-top: 2px solid #2e9cdf;
    border-bottom: 2px solid rgba(187, 187, 187, 0.521);}


     /* #tab1:checked ~ #content1,
     #tab2:checked ~ #content2,
     #tab3:checked ~ #content3 {
                            display: none;} */

  .list-view .contents__list{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
  
  .list-view figure{
    place-items: center;
    display: grid;
    grid-gap: 1rem;
  }
  
  .list-view figure img {
    width: 200px;
    height: 250px;
    object-fit: cover;
  }

  #contents-box {
    color: #888;
    width: 200px;
  }

  .contents-name {
    font-weight: bold;
  }

  .content_bottom {
    display: flex;
    margin: 0;
    padding: 0;
    justify-content: flex-end;    
}

.content_bottom .content_search {
    margin-top: 17px;
    margin-bottom: 10px;
    flex: 1;
}

.content_search input {
    padding: 10px 12px;
    width: 50%;
    height: 10px;
    border: 1px solid #bbb;
    border-radius: 8px;
}

.content_search button {
    margin-top: 3px;
    padding: 2.5px;
    border: 1px solid #bbb;
}

.content_bottom .paging {
    margin-top: 20px;
    padding-bottom: 100px;
    padding-right: 10%;
    flex: 2;
    text-align: right;
}

.content_bottom .paging a {
    display: inline-block;
    /* margin-left: 10px; */
    padding: 5px 10px;
    border-radius: 100px;
    font-size: 12px;
}

.content_bottom .paging a:first-child {
    margin-left: 0;
}

.content_bottom .paging a.bt {
    border: 1px solid #eee;
    background: #eee;
}

.content_bottom .paging a.num {
    /* border: 1px solid #ff6d00; */
    font-weight: 600;
    color: rgb(102, 102, 102);
}

.content_bottom .paging a.num.on {
    background: #ff6d00;
    color: #fff;
}

/* 목록 세부 */
.content_wrap {
    width: 1000px;
    height: 450vh;
    margin: 30px auto;
    border-bottom: 2px solid #000;
    overflow: auto;
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
}

.content_wrap::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Opera*/
}

.content_title {
    /* margin-bottom: 400px; */
}

.content_title strong {
    font-size: 3rem;
}

.content_title p {
    margin-top: 5px;
    font-size: 1.4rem;
}

.content_bt_wrap {
    margin-top: 10px;
    text-align: center;
    font-size: 0;
    margin-bottom: 20px;
    position: relative;
}

.content_bt_wrap a {
    display: inline-block;
    min-width: 80px;
    margin-left: 10px;
    padding: 10px;
    border: 1px solid #000;
    border-radius: 2px;
    font-size: 1.4rem;
}

.content_bt_wrap a:first-child {
    margin-left: 0;
}

.content_bt_wrap a.on {
    background: #000;
    color: #fff;
}

.img_table {
display: flex;
}

.content_view {
    width: 100%;
    border-top: 2px solid #000;
}

.content_view .title {
    padding: 20px 15px;
    border-bottom: 1px dashed #ddd;
    font-size: 1rem;
}

.content_view .table_poster {
    display: flex;
    padding: 20px 15px;
    justify-content: center;
    border-bottom: 1px dashed #ddd;
    font-size: 2rem;
}

.content_view .table_poster .a{
    display: flex;
    justify-content: center;
    padding: 20px 15px;
    border-bottom: 1px dashed #ddd;
    font-size: 2rem;
}

.content_view .info_table {
    display: flex;
    flex-direction: column;
    padding: 150px 40px;
    font-size: 15px;
    font-weight: bold;
}

.content_view  .info_table > table > tbody {
    width: 600px;
    height: 200px;
}

.content_view  .info_table > table > tbody tr {
    padding: 5px;
}

.content_view  .info_table > table > tbody > tr > th {
    padding: 0px 10px 0px 0px;
}

.content_view  .info_table > table > tbody > tr > td {
    font-weight: normal;
}

#contents__toolbar1 {
    height: 50px;
   border-top: 1px dashed #ddd;
  }
  
  #contents__toolbar1 .toolbar-menu1 {
    display: flex;
    align-items: center;
    height: inherit;
  }
  
   .toolbar-menu__contents1 {
    display: flex;
    flex: 1;
  }
  
  .toolbar-menu__item1 {
    display: flex;
    flex: 1;
    justify-content: center;
    position: relative;
    font-size: 15px;  
  }

.cont {
    padding: 15px;
    line-height: 160%;
    font-size: 15px;
    display: flex;
    justify-content: center;
}

.cont >img {
    width: 400px;
    height: auto;
    overflow: hidden;
}

/*세부 목록 맵&댓글*/
.mapbox {
    display: flex;
    justify-content: center;
}

.textbox1 {
    display: flex;
    justify-content: center;
}

.textbox2 {
    display: flex;
    justify-content: center;
}

#comments_list {

}

.textarea {
    width: 100%
}

/*세부 목록 하단 버튼 부트스트랩*/
.d-grid {
    right: 25%;
    top: 10%;
    position: absolute;
}

.btn-primary {
    color: #fff;
    background-color: #000;
    border-color: #000;
}

/*전체검색*/

.main_search h2 {
    padding: 15px;
}

#search_contents {
    /* outline: 1px solid red; */
    width: 950px;
    display: block;
    justify-content: center;
}

.search_contents_wrap {
    padding: 15px;
}

/*검색 건수 */
.search_contents_count {
    width: 100%;
    display: flex;
    padding: 20px;
    border-bottom: 1px solid rgba(187, 187, 187, 0.521);
}

.search_contents_count h5 {
    flex: 1;
}

.search_contents_count a {
    font-weight: bold;
    color: rgb(129, 129, 129);
    padding-top:5px;
}

.contents_body {
     padding: 20px;
}

.contents_body_in {
    padding: 10px;
}

/* footer */
footer {
	width: 100%;
	background: #333;
	/* padding: 20px 0px; */
	border-top: 1px solid #888;
    /* outline: 1px solid red; */
    height: 160px;
    margin: 0;
    display: flex;
    justify-content: center;
}


footer > .footer_container{
    /* outline: 1px solid red; */
    width: 80%;
    height: 100%;

}


footer > .footer_container .upper {
    /* width: 100%; */
	border-bottom: 1px solid #777;
	/* padding-bottom: 20px; */
    /* outline: 1px solid red; */
    display: flex;
    padding: 20px 0;
}

footer > .footer_container .upper a{
    color: #888;
    flex: 7;
    margin: 0;
    /* outline: 1px solid red; */
    margin: auto;    
    font-size: 18px;
    font-weight: bold;
    
}

footer > .footer_container .upper >ul{
    /* outline: 1px solid red; */
    color: #888;
    display: flex;
}

footer > .footer_container .upper >ul>li{
    padding-right: 30px;
}




footer > .footer_container .lower {
	width: 100%;
	padding: 20px 0;
    /* outline: 1px solid red; */

}
footer > .footer_container address {
	width: 100%;
	color: #777;
	margin-bottom: 10px;
    /* outline: 1px solid red; */
    font-size: 13px;

}
footer > .footer_container .lower p {
	width: 100%;
	font-size: 13px;
	color: #777;
    /* outline: 1px solid red; */

}



